.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
  text-align: center;
}

.App a {
  color: #f60;
}

.ui.modal.transition.visible.active {
  text-align: center;
}

#About {
  width: max-content;
}

.visible.transition {
  margin-top: auto !important;
  margin-left: auto !important;
  margin-right: auto !important;
  display: inline-block !important;
  position: relative;
  top: 10%;
}