.App {
  text-align: center;
}

.hidden {
  display: none;
}

.ui.modal.transition.visible.active {
  text-align: center;
}

#About {
  width: max-content;
}

.ui.rounded.image {
  position: relative;
  width: 100%;
  height: auto;
}

.ui.huge.image {
  width: 80% !important;
  height: auto;
}