# Node build artifacts
node_modules
npm-debug.log

# Local development
*.env
*.dev
.DS_Store
dump.rdb

# Docker
Dockerfile
docker-compose.yml

#test coverage from Jest => Travis CI => Coveralls
/coverage